{% extends '../index_master.html' %}

{% block content %}
<div class="right_col" role="main">
    <h1>Actualizar usuario</h1>
    <form action="" method="POST">
      <div class="messages">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
        {% csrf_token %}

        <div class="form-group row">
          <label for="id_per" class="col-4 col-form-label">ID</label> 
          <div class="col-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-id-badge"></i>
                </div>
              </div> 
              <select id="id" name="id" class="form-control">
                {% for i in dependencias %}
                    <option value="{{i.id_dep}}" {% if i.id_dep == dependencia.id_dep %} selected {% endif %}> {{i.id_dep}} </option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="nom_dep" class="col-4 col-form-label">Nombre de dependencia</label> 
          <div class="col-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-address-book"></i>
                </div>
              </div> 
              <input id="nom_dep" name="nom_dep" type="text" class="form-control" required="required" value="{{ dependencia.nom_dep }}">
            </div>
          </div>
        </div>
       
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button name="back" class="btn btn-primary" onclick="history.back(); return false;"> <i class="fa fa-arrow-left"></i>  Volver</button>
            <button name="submit" type="submit" class="btn btn-warning"> <i class="fa fa-refresh"></i>  Actualizar Dependencia</button>
          </div>
        </div>
      </form>
</div>

{% endblock %}