{% extends '../index_master.html' %}
{% block title %}
Eliminar Vehiculo
{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <h1>Eliminar Vehiculo</h1>

    <form action="" method="POST">
        {% csrf_token %}

        <div class="form-group row">

            <label for="id" class="col-4 col-form-label">Placa</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-automobile"></i>
                        </div>
                    </div>
                    <select id="id" name="id" class="form-control">
                        {% for i in vehiculos %}
                        <option value="{{i.pla_veh}}" {% if i.pla_veh == vehiculo.pla_veh %} selected {% endif %}>
                            {{i.pla_veh}} - {{i.mar_veh}} - {{i.cla_veh}} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                <button name="back" class="btn btn-primary" onclick="history.back(); return false;"> <i
                        class="fa fa-arrow-left"></i> Volver</button>
                <button name="submit" type="submit" class="btn btn-danger"> <i class="fa fa-trash"></i> Eliminar
                    Vehiculo</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}