{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="\static\carro-deportivo.png" type="image/png" />

  <title>Parque automotor de la alcaldía</title>

  <!-- Bootstrap -->
  <link href="{% static '/FrWork/admin_lte/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- NProgress -->
  <link href="{% static '/FrWork/admin_lte/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
  <!-- iCheck -->
  <link href="{% static '/FrWork/admin_lte/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

  <!-- bootstrap-progressbar -->
  <link href="{% static '/FrWork/admin_lte/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}"
    rel="stylesheet">
  <!-- JQVMap -->
  <link href="{% static '/FrWork/admin_lte/vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet" />
  <!-- bootstrap-daterangepicker -->
  <link href="{% static '/FrWork/admin_lte/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="{% static '/FrWork/admin_lte/build/css/custom.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="nav-md">

  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="http://localhost:8000" class="site_title"><i class="fa fa-paw"></i> <span>Admin</span></a>
          </div>

          <div class="clearfix"></div>
          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>General</h3>

              <ul class="nav side-menu">
                <li><a href="http://localhost:8000"><i class="fa fa-home"></i> Home </a>

                </li>

                <li><a><i class="fa fa-users"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="{% url 'listar' %}"><i class="fa fa-users"></i> Listar</a></li>
                    <li><a href="{% url 'agregar' %}"><i class="fa fa-user-plus"></i> Agregar</a></li>
                    <li><a href="/actualizar/0"><i class="fa fa-refresh"></i> Actualizar</a></li>
                    <li><a href="/eliminar/0"><i class="fa fa-trash"></i> Eliminar</a></li>
                  </ul>
                </li>

                <li><a><i class="fa fa-car"></i> Vehiculos <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="{% url 'listarveh' %}"><i class="fa fa-list"></i> Listar</a></li>
                    <li><a href="{% url 'agregarveh' %}"><i class="fa fa-plus"></i> Agregar</a></li>
                    <li><a href="/actualizarveh/n"><i class="fa fa-refresh"></i> Actualizar</a></li>
                    <li><a href="/eliminarveh/n"><i class="fa fa-trash"></i> Eliminar</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-calendar"></i> Asignaciones <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="{% url 'listarasi' %}"><i class="fa fa-list"></i> Listar</a></li>
                    <li><a href="{% url 'agregarasi' %}"><i class="fa fa-plus"></i> Agregar</a></li>
                    <li><a href="/actualizarasi/0"><i class="fa fa-refresh"></i> Actualizar</a></li>
                    <li><a href="/eliminarasi/0"><i class="fa fa-trash"></i> Eliminar</a></li>
                  </ul>
                </li>



                <li><a><i class="fa fa-building"></i> Dependecias <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="{% url 'listardep' %}"><i class="fa fa-list"></i> Listar</a></li>
                    <li><a href="{% url 'agregardep' %}"><i class="fa fa-plus"></i> Agregar</a></li>
                    <li><a href="/actualizardep/0"><i class="fa fa-refresh"></i> Actualizar</a></li>
                    <li><a href="/eliminardep/0"><i class="fa fa-trash"></i> Eliminar</a></li>
                  </ul>
                </li>



              </ul>
            </div>

            <div class="menu_section">
              <h3>Revisiones</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-check"></i> Preoperacionales <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="{% url 'listarprem' %}"><i class="fa fa-motorcycle"></i> Moto</a></li>
                    <li><a href="{% url 'listarprec' %}"><i class="fa fa-car"></i> Carro</a></li>
                    <li><a href="#"><i class="fa fa-bus"></i> Otro</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-clipboard"></i> Periodicas <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="#"><i class="fa fa-list"></i> Listar</a></li>
                    <li><a href="#"><i class="fa fa-plus"></i> Agregar</a></li>
                    <li><a href="#"><i class="fa fa-refresh"></i> Actualizar</a></li>
                    <li><a href="#"><i class="fa fa-trash"></i> Eliminar</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-gears"></i> Mantenimiento <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="{% url 'listarman' %}"><i class="fa fa-list"></i> Listar</a></li>
                    <li><a href="{% url 'agregarman' %}"><i class="fa fa-plus"></i> Agregar</a></li>
                    <li><a href="/actualizarman/0"><i class="fa fa-refresh"></i> Actualizar</a></li>
                    <li><a href="/eliminarman/0"><i class="fa fa-trash"></i> Eliminar</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-stethoscope"></i> SOAT <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="{% url 'listarsoa' %}"><i class="fa fa-list"></i> Listar</a></li>
                    <li><a href="{% url 'agregarsoa' %}"><i class="fa fa-plus"></i> Agregar</a></li>
                    <li><a href="/actualizarsoa/0"><i class="fa fa-refresh"></i> Actualizar</a></li>
                    <li><a href="/eliminarsoa/0"><i class="fa fa-trash"></i> Eliminar</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-warning"></i> Técnico mecánica <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="{% url 'listartec' %}"><i class="fa fa-list"></i> Listar</a></li>
                    <li><a href="{% url 'agregartec' %}"><i class="fa fa-plus"></i> Agregar</a></li>
                    <li><a href="/actualizartec/0"><i class="fa fa-refresh"></i> Actualizar</a></li>
                    <li><a href="/eliminartec/0"><i class="fa fa-trash"></i> Eliminar</a></li>
                  </ul>
                </li>
            </div>


            <!-- <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div> -->
          </div>
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>
          <nav class="nav navbar-nav">
            <ul class=" navbar-right">
              <li class="nav-item dropdown open" style="padding-left: 15px;">
                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown"
                  data-toggle="dropdown" aria-expanded="false">
                  User conect
                </a>
                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="javascript:;"><i class="fa fa-gears pull-right"></i> Settings</a>
                  <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                </div>
              </li>

              <li role="presentation" class="nav-item dropdown open">
                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown"
                  aria-expanded="false">
                  <i class="fa fa-bell"></i>
                  <span class="badge bg-green"></span>
                </a>
                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                  <li class="nav-item">
                    <a class="dropdown-item">

                      <span>
                        <span>Tecnomecánica</span>
                        <span class="time">Hace 3 min </span>
                      </span>
                      <span class="message">
                        Se ha vencido la técnico mecánica del vehiculo SXB547
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item">

                      <span>
                        <span>SOAT</span>
                        <span class="time">Hace 45 min </span>
                      </span>
                      <span class="message">
                        Se ha vencido el seguro SOAT del vehiculo SXB547
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <div class="text-center">
                      <a class="dropdown-item">
                        <strong>Ver más</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>

        </div>

      </div>

      <!-- /top navigation -->



      <!-- ****************************************   -->

      {% block content %}


      <body>
        <form>
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </form>
      </body>
      {% endblock %}



      <!-- footer content -->
      <footer>
        <div class="pull-right">
          Copyrigth derechos reservados <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>

  <!-- jQuery -->
  <script src="{% static '/FrWork/admin_lte/vendors/jquery/dist/jquery.min.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static '/FrWork/admin_lte/vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <!-- FastClick -->
  <script src="{% static '/FrWork/admin_lte/vendors/fastclick/lib/fastclick.js' %}"></script>
  <!-- NProgress -->
  <script src="{% static '/FrWork/admin_lte/vendors/nprogress/nprogress.js' %}"></script>
  <!-- Chart.js -->
  <script src="{% static '/FrWork/admin_lte/vendors/Chart.js/dist/Chart.min.js' %}"></script>
  <!-- gauge.js -->
  <script src="{% static '/FrWork/admin_lte/vendors/gauge.js/dist/gauge.min.js' %}"></script>
  <!-- bootstrap-progressbar -->
  <script src="{% static '/FrWork/admin_lte/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
  <!-- iCheck -->
  <script src="{% static '/FrWork/admin_lte/vendors/iCheck/icheck.min.js' %}"></script>
  <!-- Skycons -->
  <script src="{% static '/FrWork/admin_lte/vendors/skycons/skycons.js' %}"></script>
  <!-- Flot -->
  <script src="{% static '/FrWork/admin_lte/vendors/Flot/jquery.flot.js' %}"></script>
  <script src="{% static '/FrWork/admin_lte/vendors/Flot/jquery.flot.pie.js' %}"></script>
  <script src="{% static '/FrWork/admin_lte/vendors/Flot/jquery.flot.time.js' %}"></script>
  <script src="{% static '/FrWork/admin_lte/vendors/Flot/jquery.flot.stack.js' %}"></script>
  <script src="{% static '/FrWork/admin_lte/vendors/Flot/jquery.flot.resize.js' %}"></script>
  <!-- Flot plugins -->
  <script src="{% static '/FrWork/admin_lte/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
  <script src="{% static '/FrWork/admin_lte/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
  <script src="{% static '/FrWork/admin_lte/vendors/flot.curvedlines/curvedLines.js' %}"></script>
  <!-- DateJS -->
  <script src="{% static '/FrWork/admin_lte/vendors/DateJS/build/date.js' %}"></script>
  <!-- JQVMap -->
  <script src="{% static '/FrWork/admin_lte/vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
  <script src="{% static '/FrWork/admin_lte/vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
  <script src="{% static '/FrWork/admin_lte/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
  <!-- bootstrap-daterangepicker -->
  <script src="{% static '/FrWork/admin_lte/vendors/moment/min/moment.min.js' %}"></script>
  <script src="{% static '/FrWork/admin_lte/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

  <!-- Custom Theme Scripts -->
  <script src="{% static '/FrWork/admin_lte/build/js/custom.min.js' %}"></script>

</body>

</html>