{% extends '..\templates\index_master.html' %}
{% block title %}
Eliminar Revisión preoperacional
{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <h1>Eliminar revisión de moto</h1>

    <form action="" method="POST">
        
        {% csrf_token %}
        <div class="form-group row">

            <label for="id_pre" class="col-4 col-form-label">ID</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-id-badge"></i>
                        </div>
                    </div>
                    <select id="id_pre" name="id_pre" class="form-control">
                        {% for i in precs %}
                        <option value="{{i.id_pre}}" {% if i.id_pre == prec.id_pre %} selected {% endif %}> {{i.id_pre}} -
                            {{i.pla_pre.pla_veh}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <div class="offset-4 col-8">
                <button name="back" class="btn btn-primary" onclick="history.back(); return false;"> <i
                        class="fa fa-arrow-left"></i> Volver</button>
                <button name="submit" type="submit" class="btn btn-danger"> <i class="fa fa-trash"></i> Eliminar
                    Revisión</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}